body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.btn {
  border-radius: unset;
  color: #1a1a1a;

  &:hover {
    background-color: #DDD;
  }
}

.btn-separator:after {
  content: ' ';
  display: block;
  background: #ccc;
  margin: 0 10px;
  height: 100%;
  width: 1px;
}
